@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Proza+Libre&display=swap');

body {
    font-family: 'Proza Libre', sans-serif;
}

#title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
}

.bg-custom-1 {
    background-image: linear-gradient(to right, green, white 50%, orange);
}

.white-text {
    color: white;
}

.btn-signup {
    background-color: orange;
    color: white;    
}

.orange-button {
    background-color: orange;
    color: white;
}

.green-button {
    background-color: green;
    color: white;
}

.navbar-nav {
    font-weight: bold;
}

.details {
    border-style: double;
    max-width: 40%;
    padding-bottom: 15px;
    margin-top: 20px;
}

.book-form {
    border-style: single;
    max-width:60%;
    padding-top: 20px;
}

footer {
    color: white;
    background-color: green;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.icons {    
    color: white;
    padding: 10px;
}

@media only screen and (max-width: 1230px) {
    .bg-custom-1 {
        background-image: linear-gradient(to right, green, green);
    }
}

@media only screen and (max-width: 990px) {
    .details {
        max-width: 60%;
    }
}

@media only screen and (max-width: 540px) {
    .details {
        max-width: 90%;
    }
}