@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Proza+Libre&display=swap');

body,
html {
    height: 100%;
}

body {
    font-family: 'Proza Libre', sans-serif;
}

.title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
}

.bg-custom-1 {
    background-image: linear-gradient(to right, green, white 50%, orange);
}

.white-text {
    color: white;
}

.btn-signup {
    background-color: orange;
    color: white;
}

.orange-button {
    background-color: orange;
    color: white;
}

.green-button {
    background-color: green;
    color: white;
}

.hero-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

#hero_image {
    background: url('https://res.cloudinary.com/dqqpbdz1w/image/upload/v1660250251/005_3_p62ynl.jpg') no-repeat center center;
    background-size: 100%;
    width: 100%;
    height: 300px;
}

.faded {
    opacity: 0.5;
    max-width: 90%
}

.navbar-nav {
    font-weight: bold;
}

.event-details {
    border-style: double;
    max-width: 40%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.booking-form {
    max-width: 60%;
}

.receipt {
    max-width: 40%;
    margin: 15px;
}

.book-form {
    border-style: groove;
    max-width: 60%;
    padding-top: 20px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 100px;
}

footer {
    color: white;
    background-color: green;
    bottom: 0px;
    width: 100%;
    height: 100px;
    text-align: center;
    position: absolute;
}

.icons {
    color: white;
    padding: 10px;
}

.edit-buttons {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card {
    padding-left: 10px;
}

.bottom {
    margin-top: 10px;
}


@media only screen and (max-width: 1230px) {
    .bg-custom-1 {
        background-image: linear-gradient(to right, green, green);
    }

    .hero-outer {
        display: none;
    }
}

@media only screen and (max-width: 990px) {
    .details {
        max-width: 60%;
    }
}

@media only screen and (max-width: 540px) {
    .details {
        max-width: 90%;
        margin-bottom: 100px;
    }

    .bottom {
        margin-bottom: 100px;
    }

    footer {
        position: fixed;
    }

    .receipt {
        margin-left: 5%;
        margin-right: 5%;
        max-width: 90%;
    }

    .receipt-bottom {
        margin-bottom: 100px;
    }

    .booking-form {
        max-width: 90%;
    }
}