<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <title>{% block title %}Base{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-custom-2" style="background-image: linear-gradient(to right, green, white 50%, orange)">
        <a class="navbar-brand" >St Patrick's Day</a>
    </nav>
    Nothing ventured, nothing gained
    
    {% block body %}
    {% endblock %}
</body>
</html>