{% extends "base.html" %}
{% block title %}St Patrick's Day Oslo{% endblock %}

{% block body %}
<div class="container">
    <div class="container text-center">
        {% for post in posts %}
            <h1 id="title">{{ post.event }}</h1>
            <h3>{{ post.location }}</h3>
            <h4>{{ post.date }}</h4>
            <h4>{{ post.time }}</h4>
            <h4>{{ post.adult_price }} kr</h4>
            <h4>{{ post.child_price }} kr</h4>
            {% if user.is_superuser %}
            <a href="{% url 'post-update' post.slug %}" class="btn orange-button" role="button">Update</a>            
            {% endif %}
        {% endfor %}
        
    </div>
</div>

{% endblock %}